h2 {
  font-size: 18px;
}
.case {
  float: left;
  margin-right: 20px;
}
#console {
  line-height: 2;
  font-family: monospace;
  overflow: hidden;
  border: solid 1px #f2f2f2;
  width: 200px;
  height: 230px;
  padding: 10px;
}
#console time {
  color: #999;
}
#box1,
#box2 {
  border: solid 1px rgba(200, 240, 180, 1);
  display: inline-block;
  border-radius: 5% 30%;
}
#box1.hover,
#box2.hover {
  border: solid 1px rgba(240, 240, 180, 1);
}
#box1 div,
#box1 p,
#box2 div,
#box2 p {
  font-size: 0;
  padding: 20px;
  background-color: rgba(200, 240, 180, 0.3);
  display: inline-block;
  border-radius: 5% 30%;
}
#box1.hover div,
#box2.hover div {
  background-color: rgba(240, 240, 180, 0.3);
}
#box1 p,
#box2 p {
  background: rgba(255, 255, 255, 1)
}