.container {
  width: 500px;
  margin: 0 auto;
}
ul {
  padding: 0;
}
.line, .inputGroup {
  text-align: center;
}
.box {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100px;
  height: 100px;
  background: #ffaaaa;
  line-height: 100px;
  font-size: 80px;
  color: #fff;
}
.on {
  background: #ff0000;
}
